<div class="row">
  <div class="col-md-12">
    <div class="well text-center">
      <h2>Карточка для повторения</h2>
    </div>
  </div>
</div>
<% if @card %> 
  <div class="row">
    <div class="col-md-6">
      <%= image_tag @card.photo_url %>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-gift"></i>Карточка №<%= @card.id %></h4>
        </div>
        <div class="panel-body">
          <p>Оригинальный текст - <%= @card.original_text %></p>
          <%= form_tag check_path do %>
            <%= label_tag(:q, "Введите перевод") %>
            <%= text_field_tag :q %>
            <%= hidden_field_tag :card_id, @card.id %></br>
            <button>Проверить</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <p>К сожалению карточек для повторения нет</p>
<% end %>